# Entornos Locales / Custom
awsEnviroment/
venv_estable/

# Variables de Entorno
.env
.env.*
*.env
.env.bak
.env.old
!.env.example

# Python y Compilaciones
__pycache__/
*.py[cod]
*$py.class
*.so

# Construcción de PyInstaller
build/
dist/
*.spec

# Entornos Virtuales
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Sistema Operativo
.DS_Store
.DS_Store*
Thumbs.db
ehthumbs.db
Desktop.ini

# Editores y Entornos de Desarrollo
.vscode/
.idea/
*.swp
*.swo
.project
.pydevproject

# Archivos Temporales / Logs
*.log
*.sqlite3